.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100vh) auto minmax(80vh);
    background-color: whitesmoke;
    gap: 1rem;
}

.logo {
    padding: 1rem;
}

header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: darkcyan;
    display: flex;
}

.navcontainer {
    display: flex;
    align-items: center;
}

.navcontainer>a {
    margin: 2rem;
    position: relative;
    right: 50%;
    top: 20%;
    font-size: 1.25rem;
    color: aliceblue;
}

.aboutUs {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: beige;
    padding: 1rem;
}

.paymentInformation {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: -1;
    background-color: bisque;
    padding: 1rem;
}

h2 {
    color: aliceblue;
}

footer {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: darkcyan;
    padding: 1rem;

}